# Node modules
node_modules/
client/node_modules/
server/node_modules/

# Build artifacts
dist/
build/
client/dist/
client/build/

# Environment & credentials
.env
client/.env
server/.env
server/google-credentials.json

# AI model and large files
server/ai-model/customer_chatbot_model/model.safetensors
server/venv/Lib/site-packages/torch/lib/torch_cpu.dll
server/venv/Lib/site-packages/torch/lib/dnnl.lib

# OS & Editor Junk
.DS_Store
*.log
logs/
.vscode/
.idea/

# Cache
.cache/
.vite/
